#app {
    font-family: "PingFang-Regular", "Microsoft YaHei", "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    font-size: 1.4rem;
}

html,
body {
    padding: 0;
    margin: 0;
    color: #fff;
    height: 100%;
}

html {
    /* font-size: 10px; */
    font-size: 10px!important;
}

@media screen and (min-width:3739px){
    html{
        font-size:20px!important;
    }
}

body {
    background-color: #0E1522;
    box-sizing: border-box;
    background-image: url(../imgs/back-icon.png);
    background-repeat: repeat;
    background-size: 3.8rem auto;
}

@font-face {
    font-family: Din;
    src: url("../fonts/DIN.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Pingfang-Regular;
    src: url("../fonts/PingFang-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

.blur-style {
    -webkit-filter: blur(0.2rem);
}